label {
    display: flex;
    border: solid 2px limegreen;
    border-radius: 15px;
    width: 200px;
    height: 80px;
    margin: 10px;
    color: limegreen;
    background-color: white;
    text-align: center;
    line-height: 80px;
    float: left;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
}

label:hover{
    background-color: limegreen;
    color:white;
}

input[type=checkbox] {
    display: none;
}

input:checked+label {
    transition: all 0.3s ease-in-out;
    border: solid 2px limegreen;
    color: white;
    background-color: limegreen;
  
}
label:hover {
    cursor: pointer;
}
